@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.contentWrapper{
    display: flex;
    right: 0;
    bottom: 0;
    position: fixed;
    opacity: 0;
    animation: fadeIn 0.2s ease-out forwards;
    animation-delay: .5s;
    z-index: 1000;
    &.fade-out {
        animation: fadeOut 0.2s ease-out forwards;
    }
    @media (max-width: 768px) {
        justify-content: center;
        width: 100%;
        right:unset;
    }
}

.modal {
    right: 0;
    bottom: 0;
    min-height: 384px;
    padding:40px;
    background-color: #fff;
    border-radius: 63px;
    width: 350px;
    text-align: center;
    color: #262C31;
    margin-right: 7%;
    margin-bottom: 1em;
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
    @media (max-width: 768px) {
        margin-right: 0;
        right:unset;
    }
    &.fade-out {
        animation: fadeOut 0.2s ease-out forwards;
    }
    .modal-icon{
        display: flex;
        justify-content: center;
    }
    .modal-title{
        margin-top: 20px;
        font-family: Poppins;
        font-style: normal;
        font-size: 3em;
        font-weight: 700;
    }
    .modal-content{
        margin-top: 20px;
        .highlight{
            display: inline-block;
            color: #F5722E;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.snackBar {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-top:18px;
    padding-bottom:18px;
    padding-left:4px;
    padding-right:4px;
    background-color: #fff;
    border-radius: 63px;
    min-width: 355px;
    color: #262C31;
    margin-right: 7%;
    margin-bottom: 1em;
    @media (max-width: 768px) {
        margin-right: 0;
        right:unset;
    }
    .icon{
        margin-right: 8px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .highlight{
        display: inline-block;
        color: #F5722E;
        text-decoration: underline;
        margin-left:.5em;
        cursor: pointer;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .acceptButton, .declineButton {
        border: none;
        padding: 10px 32px;
        cursor: pointer;
        border-radius: 5px;
    }
    .acceptButton{
        color: #fff;
        background-color: #F5722E;
        font-size: 16px;
        width: 122px;
        font-style: normal;
        font-weight: 600;
    }

    .declineButton {
        margin-top: 10px;
        color: #6F6C90;
        text-decoration: underline;
    }

}

