.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  pointer-events: auto;
  padding: 0 15px; /* Add padding for mobile */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
  max-width: 100%;
  position: relative;
  z-index: 1051;
}

.modal h2 {
  margin-bottom: 0.5em;
  font-weight: 700;
}

.modal p {
  overflow-wrap: break-word;
  word-break: break-word;
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 15px;
}

.button-close {
  margin-top: 1em;
  padding: 8px 12px;
  border-radius: 4px;
  width: 30%;
  min-width: 100px;
  background: #F5722E;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-close:hover {
  background: #e15e1a;
}

/* Responsive styles */
@media (max-width: 480px) {
  .modal {
    width: 100%;
    max-height: 80vh;
  }
}