html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  font-family: $primary-font;
  color: var(--secondary-color);

  > %headings {
    font-family: $secondary-font;
    color: var(--primary-color);
  }
}

.app-wrapper {
  @include flex-center;

  width: 100%;
  min-height: 100vh;

  background: var(--bg-image) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  > * {
    transition: all 0.3s ease-out;
  }
}

@font-face {
  font-family: $secondary-font-family;
  font-display: swap;
  src: url('/src/assets/fonts/FjallaOne-Regular.ttf');
}

@font-face {
  font-family: $primary-font-family;
  font-display: swap;
  src: url('/src/assets/fonts/MerriweatherSans.ttf');
}

@font-face {
  font-family: Poppins-R;
  src: url('assets/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-SB;
  src: url('assets/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: Inter;
  src: url('assets/Inter-VariableFont_opsz\,wght.ttf');
}
@font-face {
  font-family: Poppins-L;
  src: url('assets/Poppins-Light.ttf');
}


a:hover {
  text-decoration: none;
}

.main {
  min-width: 280px;
  min-height: 200px;

  background: var(--main-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 22%);
}

.example {
  color: blue;

  &:hover {
    color: rebeccapurple;
  }
}
