h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headings !optional;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin high-res-queries {
  @media only screen and (min-device-pixel-ratio: 3) and (min-width: 360px) and (max-width: 390px),
         only screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    @content;
  }
}