.about-us-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -1rem;
        
    .form-container{
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .form-header{
        padding: 1.7em 1.7em .8em 1.7em;
        border-bottom: 1px solid #AEADAD;
        margin-right: 1.1em;
        >div:nth-child(1){
            color: #F5722E;
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        >div:nth-child(2){
            color: #263238;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 149.843%;
        }
    }
    .form-body{
        padding: 1.2em 2.9em 2.3em 1.3em;
        .firstname-lastname{
            display: flex;
            flex-direction: row;
            > div{
                flex: 1
            }
        }
        .radio-group-container{
            .radio-group-selections{
                display: flex;
                flex-direction: row;
                gap: 1.3em;
            }
        }
    }
    .contact-details-container{
        .contact-us-details-body{
            display: flex;
            flex-direction: column;
            margin: 0 1em 0 1em;
            padding: 1.8em 2.7em 1.8em 2.7em;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
            .contact-us-details-item{
                display: flex;
                flex-direction: row;
                gap: .8em;
            }
        }
    }
}

