.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .custom-radio input {
    display: none; /* Hide the default radio button */
  }
  
  .radio-mark {
    width: 20px; 
    height: 20px;
    border: 2px solid #F5722E; 
    border-radius: 50%; 
    margin-right: 8px; 
    position: relative;
    overflow: hidden; 
    transition: border-color 0.3s; 
  }
  
  .custom-radio input:checked + .radio-mark {
    border-color: #F5722E; 
  }
  
  .custom-radio input:checked + .radio-mark::after {
    content: "";
    width: 70%; 
    height: 70%; 
    border-radius: 50%; 
    background: #F5722E; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: background 0.1s ease; 
  }
  
  .custom-radio input:not(:checked) + .radio-mark::after {
    content: ""; 
    background: transparent; 
  }

.contact-us-container{
    display: flex;
    background-image: url("assets/akaza-bg-multi.png");
    background-repeat: repeat;
    background-size: 45%;
    padding: 1em;
    @media (max-width: 768px) {
        background-size: 100%;
        flex-direction: column;
    }
    .radio-group-container{
        margin-top: 1em;
        .radio-group-title{
            margin-bottom: .3em;
        }
    }
    button{
        display: flex;
        flex-direction: row;
        padding: .4em 3.3em .4em 2.8em;
        gap: 6px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 4px;
        background: #F5722E;
        width: 160px;
    }
    .form-button-submit-wrapper{
        margin-top:.3em;
        display: flex;
        justify-content: flex-end;
    }
    .maximum-words{
        margin-top: 2em;
        color: #263238;
        text-align: right;
        font-family: Poppins;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 135%; /* 14.85px */
        text-transform: capitalize;
    }

    .form-container-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > div{
            width: 580px;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

    }
    .form-container{
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
        justify-content: flex-end; 
        z-index: 2;
    }
    .form-success{
        padding: 176px 0 313px 0;
        opacity: 0;
        transition: opacity 0.1s ease-in;
        .message-container{
            padding:20px;
            div:nth-child(1){
                color:#F5722E;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                @media (max-width: 768px) {
                    text-align: center;
                }
            }
            div:nth-child(2){
                margin-top: 2em;
                color:#263238;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 149.843%;
            }
        }
    }
    .form-success.visible {
        opacity: 1; /* Fully opaque when the 'visible' class is added */
      }
    .form-header{
        padding: 1.7em 1.7em .8em 1.7em;
        border-bottom: 1px solid #AEADAD;
        margin-right: 1.1em;
        >div:nth-child(1){
            color: #F5722E;
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        >div:nth-child(2){
            color: #263238;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 149.843%;
        }
    }
    .form-body{
        padding: 0 2.9em 2.3em 1.3em;
        .firstname-lastname{
            display: flex;
            flex-direction: row;
            gap: 30px;
            @media (max-width: 768px) {
                flex-direction: column;
                gap: .5em;
            }
            > div{
                flex: 1
            }
        }
        .radio-group-container{
            @media (max-width: 768px) {
                margin-top: 2em;
            }
            .radio-group-selections{
                display: flex;
                flex-direction: row;
                gap: 1.3em;
                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 1em;
                }
            }
        }
        .error{
            color:#E63946;
            font-feature-settings: 'ss05' on;
            font-family: Poppins;
            font-size: 13px;
            font-style: italic;
            font-weight: 400;
            line-height: 135%; /* 17.55px */
        }
        input[type='radio']{
            border:1px solid black;
        }
    }
    .contact-details-container {
        position: relative; 
      }
      
      .contact-us-person {
        position: absolute; 
        z-index: 1;
        @media (max-width: 768px) {
            margin-bottom: 100px;
            bottom: 0;
        }
      }
      .contact-us-bg1{
        position: absolute; 
        top: 0;
        left: 0;
        margin-left: 120px;
        z-index: 1; 
        @media (max-width: 768px) {
            margin-left: 0;
        }
      }
      .contact-us-bg{
        position: absolute; 
        top: 0;
        margin-left: -100px;
        margin-top:-20px;
        z-index: 1; 
      }
      .contact-us-bg-inverted{
        position: absolute; 
        bottom:0;
        right: 0;
        margin-bottom: 162px;
        margin-right: 17px;
        z-index: 1; 
        @media (max-width: 768px) {
            margin-bottom: 100px;
        }

      }
      .contact-us-details-body {
        padding: 1.8em 2.7em;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 2; 
        margin-top: 1em;
        .contact-us-details-item {
            gap: .8em;
        }
      }

      
}

