.col-title {
    font-weight: 700;
    margin-bottom: 26px;
}

footer {
    background-color: #2D3A41;
    font-family: Poppins-L;
    color: #F5F7FA;
    padding: 105px 224px 105px 271px;
    margin-top: auto; // Push the footer to the bottom

    a {
        transition: color 0.2s ease-in-out;
        
        &:hover {
            color: #F5722E;
        }
    }

    @media (max-width: 768px) {
      padding: 20px; // Adjust padding for smaller screens
      padding-bottom: 5em;
    }
  
    .footer-desc {
      display: flex;
      flex-direction: row;
      align-items: start;
      text-align: center;
      justify-content: space-between; // Distribute space evenly
      flex-wrap: wrap; // Allow items to wrap
      gap: 50px;
  
      @media (max-width: 768px) {
        flex-direction: column; // Stack items vertically
        align-items: center;
        gap: 10px;
  
        > div {
          flex: 1 1 calc(50% - 10px); // Two items per row
        }
  
        > nav:nth-child(5) {
          flex: 0 0 100%; // Make the fifth item take full width
          margin: 0 auto; // Center the item
        }
      }
  
      > div {
        box-sizing: border-box; // Ensure padding/margins don't affect width
      }
  
      > div:nth-child(1) {
        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
  
      > div > :nth-child(1),
      > nav > :nth-child(1) {
        @extend .col-title;
      }
  
      > nav:nth-child(5) {
        > div > div {
          margin-top: -30px;
          margin-bottom: -30px;
        }
        img {
          height: 80px;
        }
      }
    }
  
    .footer-desc > nav:nth-child(4) {
      > div:nth-child(2) { 
        display: flex;
        flex-direction: row;
        gap: 20px;
    
        a:hover img {
          filter: brightness(0) saturate(100%) invert(48%) sepia(94%) saturate(1752%) hue-rotate(346deg) brightness(101%) contrast(101%);
        }
      }
    }
  }